:root {
    --profile: hsl(246, 80%, 60%);
    --bg-color: hsl(226, 43%, 10%);
    --card-color: hsl(235, 46%, 20%);

    --light-orange: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);

    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat( 4, 250px );
    grid-template-rows: 1fr 1fr;
}

.report__profile {
    background-color: var(--card-color);
    border-radius: 15px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.report__user {
    background-color: var(--profile);
    border-radius: 15px;
    padding: 25px;
}

.user__img {
    border-radius: 100%;
    width: 6vw;
    border: 3px solid white;
    margin-bottom: 40px;
}

.user__text {
    color: var(--pale-blue);
    font-size: 1.05rem;
    margin-bottom: 5px;
}

.user__name {
    color: white;
    font-weight: 300;
    font-size: 2.8rem;
    margin-bottom: 50px;
}

.report__options {
    padding: 20px 25px 15px;
}

.report__option {
    color: var(--desaturated-blue);
    font-weight: 400;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.report__option:hover {
    color: white;
}


/* CARDS */
.card__work {
    background-color: var(--light-orange);
    border-radius: 15px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* overflow: hidden; */
    /* position: relative; */
    /* display: flex;
    flex-direction: column; */
}

.card__body {
    background-color: var(--card-color);
    border-radius: 15px;
    height: 100%;
    /* position: relative; */
    /* top: -30px; */
}

.img_container img {
    
}

/* .card__img {
    position: absolute;
    display: block;
    top: -10px;
    right: 15px;
    width: 70px;
} */